@media (max-width:640px) {
  body {
    padding: 0px;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  h3 {
    font-size: 1.029rem;
  }

  h4 {
    font-size: 0.84rem;
  }

  .nav-links ul li {
    padding: 0;
  }

  .main-nav .container {
    height: 5vh;
  }

  .categoryProduct {
    display: none;
  }

  header {
    margin-top: 12%;
    height: 23vh;
  }

  .headerContain img {
    height: 100%;
  }

  .headerContain #ctaHeader {
    font-size: 15px;
  }

  #burger-menu {
    display: flex;
    padding: 0% 3%;
  }

  .resumeWebSite h2 {
    margin: 6% 2%;
  }

  .categoryProduct {
    display: none;
  }
  .icons-row,.footer-container,.product-row{
    flex-direction: column;
  }
  .product-row {
    margin: 0;
  }

  .product {
    margin: 2% 0%;
    width: 100%;
  }

  .product .product-img img {
    height: 12vh;
  }

  .ctaProduct {
    margin: 2.5%;
    padding: 3%;
    font-size: 15px;
  }

  .addSpan {
    font-size: 18px;
  }

  .add #ctaADD {
    font-size: 11px;
  }

  .icons-row {
    justify-content: space-between;
    align-items: center;
  }

  .icon h4 {
    text-align: center;
  }

  footer {
    padding: 0% 2%;
    height: auto;
  }

  .about,.form,.referencing{
    width: 100%;
    height: 30%;
  }

}
